/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 27, 2014, 1:34:36 PM
    Author     : Administrator
*/

html {
  height: 100%;
  box-sizing: border-box;
}

body {
   margin:0;
   position: relative;
   min-height: 100%;
   
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width:100%;
}

li {
    float: left;
    
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #4CAF50;
}


footer {

   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background-color: #333;
   color: white;


}
.demo {
    padding-bottom: 100px;
  
}
.logout {
    float:right;
    clear:both;
}